body {
  background-color: #24282d;
}

.App {
  background-color: #17191a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  display: flex;
}

.header {
  height: 15px;
}

#virtualComputerDiv {
  width: calc(100vw - 330px);
  position: absolute;
  left: 0;
}

#sidebar {
  padding: 16px;
  right: 0;
  top: 0;
  width: 300px;
  position: absolute;
  background-color: #24282d;
  border-left: 1px solid #404448;
  height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 62px;
  background-color: #24282d;
  border-top: 1px solid #404448;
  padding: 16px;
}

.sidebarHeader {
  background-color: #24282d;
  height: 150px;
  position: absolute;
  padding: 16px;
  top: 0;
  right: 0;
}
